@tailwind base;

@tailwind components;

@tailwind utilities;

div.modalWrap {
  max-height: 95vh !important;
  max-width: 900px !important;
}

div.imageDiv {
  height: auto;
}

img.modalImage {
  width: 900px;
  height: auto;
  max-height: 80vh !important;
}

#header {
  background: #fff;
  box-shadow: 0 4px 8px -3px rgba(17, 17, 17, 0.06);

  position: fixed;
  top: 0;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  z-index: 2000;
}

.head-animation {
  transform: translateY(-100%);
}

// collupsのborder-bottom

div.collapseWrap > div > div {
  border-bottom: 0px !important;
  border-top: 0px !important;
}

div.buttonDropdownWrap > div > button {
  background-color: #a3bffa !important;
  color: white;
  font-weight: bold;
}

details > summary {
  background-color: #a3bffa !important;
  color: white;
}

div.loadingDiv {
  z-index: 2001;
}
