@tailwind base;

@tailwind components;

@tailwind utilities;

div.modalWrap {
  max-height: 95vh !important;
  max-width: 900px !important;
}

div.imageDiv {
  height: auto;
}

img.modalImage {
  width: 900px;
  height: auto;
  max-height: 80vh !important;
}

#header {
  background: #fff;
  box-shadow: 0 4px 8px -3px rgba(17, 17, 17, 0.06);

  position: fixed;
  top: 0;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  z-index: 199999;
}

.head-animation {
  transform: translateY(-100%);
}

// collupsã®border-bottom

#js_logged_in_component > div > div > div:nth-child(1) > div.mt-10.relative > div > div {
  border-bottom: 0px !important;
}
