@tailwind base;

@tailwind components;

@tailwind utilities;

div.modalWrap {
  max-height: 95vh !important;
  max-width: 900px !important;
}

div.imageDiv {
  height: auto;
}

img.modalImage {
  width: 900px;
  height: auto;
  max-height: 80vh !important;
}

// header関連
#header {
  background: #fff;
  box-shadow: 0 4px 8px -3px rgba(17, 17, 17, 0.06);

  position: fixed;
  top: 0;
  transition: 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  z-index: 2000;
}

.head-animation {
  transform: translateY(-100%);
}
// 投稿ボタン関連
#postButton {
  box-shadow: 0 4px 8px -3px rgba(17, 17, 17, 0.06);
  transition: 1s cubic-bezier(0.4, 0, 0.2, 1);
  z-index: 2000;
}

.postButton-animation {
  transform: translateX(200%);
}

// collupsのborder-bottom

div.collapseWrap > div > div {
  border-bottom: 0px !important;
  border-top: 0px !important;
}

div.buttonDropdownWrap > div > button {
  background-color: #a3bffa !important;
  color: white;
  font-weight: bold;
}

details > summary {
  background-color: #a3bffa !important;
  color: white;
}

// background関連
#tsparticles {
  height: 100%;
}

// slider関連
div.postWidthSlider {
  background-color: #a4abbd !important;
}
div.postWidthSlider > div {
  background-color: #a3bffa !important;
}

// loading関連-------------------------------------------------
div.loadingDiv {
  z-index: 2001;
  position: absolute;
}

$main: #fff5a5;
$secundary: #ffd4da;
$terchiary: #99d2e4;

@keyframes mainAnimation {
  0% {
    width: 50px;
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  20% {
    width: 50px;
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  40% {
    width: 150px;
    transform: translateX(-50px) translateY(0px) rotate(0deg);
  }
  60% {
    width: 150px;
    transform-origin: bottom right;
    transform: translateX(-150px) translateY(0px) rotate(90deg);
  }
  80% {
    width: 50px;
    transform: translateX(-25px) translateY(0px) rotate(90deg);
  }
  100% {
    width: 50px;
    transform: translateX(-50px) translateY(0px) rotate(90deg);
  }
}
@keyframes secundaryAnimation {
  0% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  20% {
    transform: translateX(0px) translateY(0px) rotate(180deg);
  }
  40% {
    transform: translateX(0px) translateY(0px) rotate(180deg);
  }
  60% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  80% {
    transform: translateX(0px) translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateX(0px) translateY(0px) rotate(180deg);
  }
}
@keyframes shadowAnimation {
  0% {
    width: 150px;
    transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
  20% {
    width: 75px;
    transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  40% {
    width: 200px;
    transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
  60% {
    width: 75px;
    transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  80% {
    width: 75px;
    transform: translateX(37.5px) translateY(0px) rotate(0deg);
  }
  100% {
    width: 150px;
    transform: translateX(-25px) translateY(0px) rotate(0deg);
  }
}
@keyframes float {
  0% {
    top: 50%;
  }
  50% {
    top: 51%;
  }
  100% {
    top: 50%;
  }
}

// Styling

.loader {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 50%;
  left: 50%;
  margin-top: -25px;
  margin-left: -25px;
  background-color: $main;
  transform: translateX(0px) translateY(0px) rotate(0deg);
  animation: mainAnimation 2.6s ease 0s infinite forwards;
  z-index: 2;
  &:after {
    content: '';
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: -50px;
    background-color: $main;
    transform-origin: top right;
    transform: translateX(0px) translateY(0px) rotate(0deg);
    animation: secundaryAnimation 2.6s ease 0s infinite forwards;
  }
}

.loadingShadow {
  position: absolute;
  width: 100px;
  height: 10px;
  top: 50%;
  left: 50%;
  margin-top: 50px;
  margin-left: -75px;
  border-radius: 50%;
  background-color: #95a5a6;
  transform: translateX(0px) translateY(0px) rotate(0deg);
  animation: shadowAnimation 2.6s ease 0s infinite forwards,
    float 5s ease-in-out 0s infinite forwards;
  filter: blur(5px);
  z-index: 1;
}
// loading関連

summary > svg {
  width: 35px !important;
}

div.collapseWrap > div > div > div.jsx-529403286.container.expanded {
  width: 100%;
  background-color: white !important;
  height: 70px;
}

div.collapseWrap > div > div > div > div > div > div {
  line-height: 3rem !important;
}

// post.tsx関連
.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 8px 20px;
  margin: 0px 3px 6px;
  text-align: center;
  border: 2px solid black;
  text-decoration: none;
  color: black;
  white-space: nowrap;
  z-index: 0;
}

.hbtn i {
  padding-right: 8px;
}

.hb-border-right {
  border-color: rgb(255, 255, 255);
  transition-duration: 0.3s;
  transition: border-bottom-color 0.1s linear 0.14s, border-left-color 0.1s linear 0.07s,
    border-top-color 0.1s linear 0s;
}

.hb-border-right:hover {
  border-color: initial;
  border-bottom-color: transparent;
  border-left-color: transparent;
  border-top-color: transparent;
  transition: border-bottom-color 0.1s linear 0s, border-left-color 0.1s linear 0.07s,
    border-top-color 0.1s linear 0.14s;
}
